body{
  background-color: white;
  line-height: 10px;
}
header{
  background-color: darkred;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 2px;
}
.stat{
  margin: 0 20px 0 20px;
}
.stat h3{
  font-weight: bold;
  text-decoration: underline;
}
#game-controller{
  margin-top: 10px;
  background-color: lightgrey;
  display: flex;
}
#game-controller button{
  flex: 1;
  margin:2px;
  padding: 4px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}
.playGround{
  background-color: whitesmoke;
}
.card-container{
  margin-top: 20px;
  height: 150px;
  display: flex;
  justify-content: space-around;
}
  
img{
  margin:10px;
  width: 100px;
  height: 100px;  
}
